
body{
    background-image:url("./Assets/milad-fakurian-wNsHBf_bTBo-unsplash.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5); 
    background-blend-mode: multiply; 
    backdrop-filter: blur(2px);
  }
  